---
import Layout from '../layouts/layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/hound2.svg';
import Search from '../components/searchbar';
import ArticlesGrid from '../components/article-grid';
---

<Layout title='HoundAI - Exploring Tech and AI'>
  <header
    class='sticky top-0 w-full z-10 bg-[radial-gradient(transparent_1px,#ffff_0.5px)] bg-size-[4px_4px] backdrop-blur-sm'
  >
    <nav class='flex justify-between items-center py-4 px-6 max-w-6xl mx-auto'>
      <a
        href='#home'
        class='text-2xl font-light font-serif text-gray-800 hover:text-gray-600 transition duration-300'
        >HoundAI</a
      >
      <ul class='flex gap-8'>
        <li>
          <a
            href='#home'
            class='text-gray-600 hover:text-blue-600 transition duration-300 ease-in-out'
          >
            Home
          </a>
        </li>
        <li>
          <a
            href='#articles'
            class='text-gray-600 hover:text-blue-600 transition duration-300 ease-in-out'
          >
            Articles
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main class='max-w-screen mx-auto px-4'>
    <section id='home' class='text-center py-20 md:py-32'>
      <Image
        src={logo}
        alt='HoundAI Logo'
        class='mx-auto mb-8 w-32 h-32 md:w-40 md:h-40 transform hover:scale-105 transition-transform duration-300'
        draggable={'false'}
        format={'webp'}
        loading={'eager'}
      />
      <h1
        class='text-4xl md:text-6xl font-light mb-4 animate-fade-in font-serif text-gray-800 tracking-tight'>
        HoundAI
      </h1>
      <p
        class='text-gray-600 text-lg md:text-xl mb-10 max-w-2xl mx-auto animate-fade-in-delayed tracking-tighter'
      >
        Search and explore the latest articles on technology and AI.
      </p>
      <div class='max-w-xl mx-auto'>
        <Search client:load />
      </div>
    </section>

    <section id='articles' class='py-16 max-w-6xl mx-auto'>
      <h2 class='text-3xl font-light mb-8 font-serif text-gray-800'>
        Latest Articles
      </h2>
      <div class='grid gap-8 md:grid-cols-2 lg:grid-cols-3'>
        <ArticlesGrid client:load />
      </div>
    </section>
  </main>


</Layout>