---

---

<header
  class='absolute top-0 left-0 right-0 z-10 py-4 px-6 w-1/2 bg-radial-[transparent_1px,#ffff_1px] bg-size-[4px_4px] backdrop-blur-sm before:opacity-5'
>
  <nav>
    <ul class='flex space-x-6 text-sm'>
      <li>
        <a href='/' class='text-gray-600 hover:text-gray-900'> Home </a>
      </li>
      <li>
        <a href='/blogs' class='text-gray-600 hover:text-gray-900'>Blogs</a>
      </li>
    </ul>
  </nav>
</header>
